.ServicesComp {
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-color: white;

  }
  
  .ServicesComp .compTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #F4B108;
    margin: 0px;
    padding: none;
  }

    
  .ServicesComp .compDescription {
    font-size: 14px;
    color: #423D3D;
  }
  